.App {
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
  background: black;
}

h1 {
  height: 5vh;
  color: seagreen;
}

footer, nav {
  height: 5vh;
}

nav {
  position: relative;
}

nav .network-toggle {
  position: absolute;
  top: 5%;
  right: 5%;
  background: none;
  border: 1px solid seashell;
  color: seashell;
  padding: 4px 8px;
  border-radius: 16px;

}

footer {
  color: grey;
  font-size: 8px;
}

.activePage {
  border-top: 1px solid seagreen;
  height: 90vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  position: relative;
}

.activePage h2 {
  position: absolute;
  top: 2.5%;
  left: 5%;
}

.transfer {
  height: 25%;
  width: 30%;
  border: 0.125px solid seagreen;
  border-radius: 32px;
  color: seashell;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transfer:hover {
  background: seagreen;
  cursor: pointer;
}

.transfer .type {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
}

.transfer .amount {
  position: absolute;
  bottom: 2.5%;
  left: 2.5%;
}